
@import url('https://fonts.googleapis.com/css?family=Inconsolata');

body{
  margin: 0px;
  padding: 0px;
}

.App{
  height: 100vh;
  width: 100vw;
  background-color:rgba(30, 30, 30, 1.0);
  margin: 0px;
  padding: 0px;
}

.Bar1{
  font-size: 9px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height:17px;
  width: 100vw;
  background-color: rgba(51, 51, 51, 1.0);
  border-top:1px solid rgba(21, 21, 21, 1.0)
}

.notBar1Container{
  height: 100%;
  width:100%;
  display: grid;
  grid-template-columns: 40px 160px auto;
}

.SideBar1{
  padding-top: 10px;
  background-color: rgba(43, 43, 43, 1.0);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.SideBar2{
  background-color: rgba(37, 37, 38, 1.0);
}

.SideBar3{
  background-color:rgba(30, 30, 30, 1.0);
}

.Header{
  height:30px;
  background-color: rgba(37, 37, 38, 1.0)
}

.HeaderTab{
  font-weight: bold;
  border: 1px solid rgba(37, 37, 38, 1.0);
  border-top: 0;
  border-left: 0;
  width: 85px;
  padding-left:15px;
  float: left;
  background-color: rgba(45, 45, 45, 1.0);
  font-size: 10px;
  height: 100%;
  color:rgba(146, 146, 146, 1.0);
  display: flex;
  align-items: center;
}

.TextEditor{
  font-family: 'Inconsolata';
  font-size: 13px;
  padding: 0px;
  margin: 10px;
  height: 100%;
  width: 100%;
  background-color: rgba(30, 30, 30, 1.0);
}


